# Server Environment Variables
PORT=4000
NODE_ENV=development
JWT_SECRET=your_jwt_secret_here

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/db_name?schema=public"

# Supabase (Admin Access)
SUPABASE_URL=your_supabase_url
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key

# Email (Resend)
RESEND_API_KEY=your_resend_api_key

# Frontend URL for links in emails
FRONTEND_URL=http://localhost:3000
